#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "Linux/$ARCH $KERNELVERSION Kernel Configuration"

config SRCARCH
	string
	option env="SRCARCH"

config CC_OPTIMIZE_MORE
	bool "CC_OPTIMIZE_MORE"
	depends on TC4_ICS=y
	default y

source "arch/$SRCARCH/Kconfig"
